form {
  background-color: blue;
  display: flex;
  justify-content: space-around;
}

select {
  width: 12em;
}

.select-btn {
  width: 10em;
  height: 2em;
  background-color: green;
}

.select-btn:disabled {
  background-color: #78a7c6;
}
