form {
  background-color: #654321;
  background-image: url(../../assets/dark-wood.png);
  display: flex;
  justify-content: space-around;
}

select {
  width: 12em;
}

.select-btn {
  width: 10em;
  height: 2em;
  background-color: #444444;
}

.select-btn:disabled {
  background-color: #78a7c6;
}
