* {
  color: #d4af37;
  font-family: Snell Roundhand, cursive;
}

main {
  background-color: #654321;
  background-image: url(../../assets/dark-wood.png);
  margin: 0;
  padding: 0;
  height: 100vh;
}
