section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-btn {
  width: 10em;
  height: 1em;
  color: #90ee90;
}

h3 {
  font-size: 2em;
  text-align: center;  
}
